.addtaskbuttons{
    display: flex;
    margin-left: 32%;
}

.taskbtn{
    border-radius: 0.6rem;
    padding:0.8em;
    width: 15em;
    color: white;
    font-weight: bolder;
}

.addtaskbtn{
    background: #00BA88;
}

.deletealltasksbtn{
    background: red;
    margin-left: 1em;
}

.addedtasksdiv{
    display: flex;
    padding: 2em 0.1em;
    width: max-content;
    height: max-content;
}

.timecard{
    background-color: white;
}

.horizontalscroll{
    height: 210px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
}

.verticalscroll{
    overflow-y: auto;
    height: 100%;
}