.addtaskbuttons {
  display: flex;
  margin-left: 32%;
}

.taskbtn {
  border-radius: 0.6rem;
  padding: 0.8em;
  width: 15em;
  color: white;
  font-weight: bolder;
}

.addtaskbtn {
  background: #00ba88;
  cursor: pointer;
}

.deletealltasksbtn {
  background: #ff3d1f;
  margin-left: 1em;
  cursor: pointer;
}

.addedtasksdiv {
  display: flex;
  padding: 2em 0.1em;
  width: max-content;
  height: max-content;
}

.taskscontainer {
  display: inline-flex;
  flex-direction: column;
}

.meetingscontainer {
  display: flex;
}

.timecard {
  background-color: white;
}

.scrollContent {
  height: 350px;
  width: 100%;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: scroll;
}

.weekdaysdiv {
  display: flex;
  margin-left: 7em;
  margin-right: 3em;
  margin-bottom: 1em;
  cursor: pointer;
}

.notasks {
  margin: auto;
  text-align: center;
  width: 20%;
}

.confirmdeletion {
  display: flex;
  padding: auto;
  margin: auto;
  margin-top: 1em;
  width: fit-content;
}

.confirmdeletion > * {
  padding: 1em;
}
