.btndiv button{
    background: linear-gradient(#FF2D04, #C13216) no-repeat;
    color: white;
    font-weight: bolder;
    padding: 0.8em;
    border-radius: 3.125rem;
    width: 100%;
    margin-top: 0.5em;
    font-size: 1.1rem;
}