.inputdiv{
    display: flex;
}

form label{
    line-height: 50px;
    color: #E0E0E0;
    width: 20%;
}

form{
    display: block;
    margin-top: 1.4em;
}


form > *{
    margin-bottom: 0.2em;
}

.selectform{
    color: #E0E0E0;
    border: 1px solid white;
    background: transparent;
    width: 22em;
    height: 3.5em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
    appearance: none;
}

.inputerror{
    border: 1px solid #FFCE00;
    color: #E0E0E0;
    background: transparent;
    width: 22em;
    height: 3.5em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
    
}


.forminput{
    color: #E0E0E0;
    border: 1px solid white;
    background: transparent;
    width: 22em;
    height: 3.5em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
}

.selecterror{
    color: #E0E0E0;
    border: 1px solid #FFCE00;
    background: transparent;
    width: 22em;
    height: 3.5em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
    appearance: none;
}

::placeholder{
    color: #E0E0E0;
}

.logintitle{
    font-size: 2rem;
    margin-bottom: 1em;
}

@keyframes inputOpen{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

@keyframes inputClose{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

.iconactive{
    animation-name: inputOpen;
    animation-duration: 2s;
    position: relative;
    right: 2.5em;

}

.iconinactive{
    animation-name: inputClose;
    animation-duration: 2s;

}

.loginfail {
    color: #FFCE00;
    text-align: center;
    padding-top: 1em;
    position: relative;
    right: 2.5em;
}

.inputinvalid{
    color: #FFCE00;
    text-align: center;
    padding-top: 0.20em;
    padding-bottom: 0.20em;

}