.mainct{
    background-color: white;
    display: flex;
    padding: 1em 0em 1.5em 0em;
    height: 8rem;
}

.mainct > * {
    margin-right: 1em;
}

.headertitle{
    color: white;
    background-color: black;
    border-top-right-radius: 0.875rem;
    border-bottom-right-radius: 0.875rem;
    padding: 1em;
    width: 30%;
}

.datetime{
    margin-top: 1em;
    margin-left: 1em;
    text-align: center;
    width: 30%;
}

.weatherdiv{
    margin-right: 10em;
}

.logoutcontent{
    text-align: right;
}

.logoutdiv{
    float: right;
}

.temperature{
    display: flex;
    text-align: center;
    margin-left: 2em;
}

.temperature > * {
    padding: 0.2em;
}

.fulltemperature{
    margin-top: 0.5em;
}