.introtext{
    color: #E0E0E0;
    width: 60%;
    padding: 1.5% 8%;
}

.introtext h1{
    font-size: 3.75rem;

}

.introtext h2{
    font-size: 1rem;

}

a{
    color: white;
}

.maincontent{
    display: flex;
    justify-content: space-evenly;
}

.registerdiv{
    margin: 0em 4em;
}
