.inputdiv{
    display: flex;
}

.inputdiv label{
    line-height: 50px;
    color: white;
    width: 25%;
}

.registerform{
    display: block;
    margin-top: 2em;
}


.registerform > *{
    margin-bottom: 0.4em;
}

.registerform select{
    color: white;
    border: 1px solid white;
    background: transparent;
    width: 100%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
    appearance: none;
}

.inputerror{
    border: 1px solid yellow;
    color: white;
    background: transparent;
    width: 100%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
    
}


.registerinput{
    color: white;
    border: 1px solid white;
    background: transparent;
    width: 100%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
}


