.inputdiv{
    display: flex;
}

.registerform label{
    line-height: 50px;
    color: #E0E0E0;
    width: 20%;
}

.registerform{
    display: block;
    margin-top: 2em;
}


.registerform > *{
    margin-bottom: 0.4em;
}

.selectform{
    color: #E0E0E0;
    border: 1px solid white;
    background: transparent;
    width: 25em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
    appearance: none;
}

.inputerror{
    border: 1px solid yellow;
    color: #E0E0E0;
    background: transparent;
    width: 25em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
    
}


.registerinput{
    color: #E0E0E0;
    border: 1px solid white;
    background: transparent;
    width: 25em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
}

.selecterror{
    color: #E0E0E0;
    border: 1px solid yellow;
    background: transparent;
    width: 25em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 3.125rem;
    appearance: none;
}

::placeholder{
    color: #E0E0E0;
}