.introtext{
    color: #E0E0E0;
    width: 78rem;
    padding: 1.5% 10%;
    margin: 5em 3em;
}

.introtext h1{
    font-size: 3.75rem;

}

.introtext h2{
    font-size: 1rem;

}

a{
    color: white;
}

.maincontent{
    display: flex;
    justify-content: space-evenly;
    
}

.laptopbackground{
    background: url('../../img/background.png');
    background-position: 0px 0px;
    background-size: 100% 100%;
    width: 100rem;
    height: 100vh;
}

.logoimg{
    width: 25rem;
    margin: 1em 10em;
}

.registertxt{
    padding-bottom: 1.2em;
}