/*root colors*/
:root{
  --gradient-black: linear-gradient(#33383D, #1C1D20);
  --gradient-red: linear-gradient(#FF2D04, #C13216);
  --primary-black: #000000;
  --monday: #FF0024;
  --tuesday: #FF8000;
  --wednesday: #FFCE00;
  --thursday: #FF0024;
  --friday: #FF8000;
  --saturday: #FFCE00;
  --sunday: #FF0024;
}
/*end root colors*/

/*reset*/
* {
  margin: 0;
  padding: 0;
  border:none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body{
  background-color: var(--primary-white);
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}