@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

/*reset*/
* {
  margin: 0;
  padding: 0;
  border:none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  overflow: hidden;
  
}

html{
  margin: 0;
  height: 100%;
}


body{
  background: linear-gradient(#33383D, #1C1D20) no-repeat;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}