@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

/*reset*/
* {
  margin: 0;
  padding: 0;
  border:none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  overflow: hidden;
  
}
body{
  background-color: var(--primary-white);
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}