.btn{
    background: linear-gradient(#FF2D04, #C13216) no-repeat;
    color: white;
    font-weight: bolder;
    padding: 0.8em;
    border-radius: 3.125rem;
    width: 80%;
    margin-top: 1em;
    font-size: 1.1rem;
    border-bottom: 5px solid #1C1D20;
}

.loginbtn{
    background: linear-gradient(#FF2D04, #C13216) no-repeat;
    color: white;
    font-weight: bolder;
    padding: 0.8em;
    border-radius: 3.125rem;
    width: 60%;
    margin-top: 3em;
    font-size: 1.1rem;
    border-bottom: 5px solid #1C1D20;
}

.deleteallbtn{
    background-color: #FF2D04;
    color: white;
    font-weight: bold;
    padding: 0.30em;
    border-radius: 0.2em;
}